@mixin base {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 20px;
    background-color: $blue-light;
}

.events {
    @include base;

    @import 'heading';
    @import 'container';
    @import 'table';
    @import 'row';
    @import 'date';
    @import 'day';
    @import 'event';
    @import 'location';
}