@mixin base {
    // background-image: url('../../assets/keyboard-5.jpg');
    // background-color: #232323;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 20px;
}

.events {
    @include base;

    @import 'heading';
    @import 'container';
    @import 'table';
    @import 'row';
    @import 'date';
    @import 'day';
    @import 'event';
    @import 'location';
}