@mixin base {
    background:url('../../assets/girl-at-piano.jpg');
    width: 100%;
    height: 90vh;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}

.header {
    @include base;

    @import 'heading';
}