@mixin base {
    display: inline-block;
}

&__item {
    @include base;
}

.nav__item + .nav__item {
    margin-left: 20px;

    @media screen and (min-width: 768px) {
        margin-left: 40px;
    }
}