@mixin base {
    padding: 20px;
    background-image: url('../../assets/girl-playing-guitar.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @media screen and (min-width: 1200px) {
        background-position: top;
    }
}

.contact {
    @include base;

    @import 'container';
    @import 'heading';
    @import 'list';
    @import 'item';
}