@mixin base {
    margin-top: 40px;
    color: #fff;
    padding: 60px;
    width: 350px;
    // background-color: rgba(191,93,72, 0.9);
}

.tracklist {
    @include base;

    @import 'list';
    @import 'item';
    @import 'number';
}