@import 'mixins';
@import 'vars';

@import 'header/header';
@import 'nav/nav';
@import 'music/music';
@import 'tracklist/tracklist';
@import 'events/events';
@import 'contact/contact';

* {
    box-sizing: border-box;
}

body {
    color: #232323;
    margin: 0;
    padding: 0;
    font-family: open sans;
    font-weight: 200;
}

.container {
    max-width: 1000px;
}

ul {
    padding: 0;
}