@import 'mixins';
@import 'vars';

@import 'header/header';
@import 'nav/nav';
@import 'music/music';
@import 'tracklist/tracklist';
@import 'events/events';
@import 'contact/contact';

* {
    box-sizing: border-box;
    // font-family: open sans;
}

body {
    color: #232323;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-weight: 200;
}

.container {
    max-width: 1000px;
}

ul {
    padding: 0;
}

.fa-facebook:before {
    color: #fff;

    &:hover {
        color: #3b5998;
    }
}

.icon-link {
    width: 60px;
    font-size: 36px;
    height: 60px;
    // background-color: #666;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    // outline: none;
    margin: 5px;
    // -webkit-box-sizing: content-box;
    // box-sizing: content-box;
  }
  .icon-link.fill.facebook {
    background-color: #3b5998;
  }
//   .icon-link.fill.facebook:hover {
//     background-color: #fff;
//   }
//   .icon-link.fill.facebook:hover .fa-facebook {
//     color: #3b5998;
//     -webkit-transition: color 150ms ease-in-out;
//     transition: color 150ms ease-in-out;
//   }